<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}" style="color:red;">
    Usuário ou senha inválidos
</div>
<div th:if="${param.logout}" style="color:green;">
    Você saiu com sucesso
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label>Usuário: <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Senha: <input type="password" name="password"/></label>
    </div>
    <div>
        <button type="submit">Entrar</button>
    </div>
</form>
</body>
</html>
